
/*....................... common................................*/

*{
	margin: 0px;
	padding: 0px;
}
.container{
	width:100%;
	padding: 0px;
	margin: 0px;
}

.wrapper {
  position: relative;
}



h6{
	font-weight:bold;
}

/* Side Navigation */

    .side-nav {
        background-color: #2b5797;  
        
 }

    .side-nav>li>a {    
        color:   white;
        border-top: 2px solid black;
         border-left: 6px solid #0866C6;
         border-right: 8px solid #0866C6;
       
     
}

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #0866C6;
		color:   white;
		border-left: 6px solid #eeeeee;
        border-right: 8px solid #eeeeee;
    }


.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
	color:#0866C6;
    display: block;
    padding: 10px 15px 10px 38px;
   	background-color: #eeeeee;
   	border-top: 2px solid white;
   	border-left: 6px solid white;
    border-right: 8px solid white;
}

.side-nav>li>ul>li>a:hover  {
	text-decoration: none;
  	color:black !important;
  	 background-color: white;
  	  border-left: 6px solid #eeeeee;
     border-right: 8px solid #eeeeee;
}

.fa-caret-down{
	
	
	float:right;
}


/*....................... form option................................*/

#form_static{
	

	padding-top:11px;
	 padding-bottom:11px;
	 background-color:#549fd6;
	
	
}
#form_dynamic{
	
	margin-right:10px;

}
#internal_form{
	background-color:#f7f7f9;
	
}
.col-sm-2,.col-sm-1,#acc_name{
	padding-right: 0px; 
    padding-left: 10px; 
}
.control-label{
	padding: 0px;
	font-size: 12px;
}

.panel-body{
	padding: 20px;
}

.acsil{

	color: red;
	padding: 0px;
	margin: 0 auto;
	padding-right: 5px;
	font-weight: bold;
}

.btn{

	border-radius: 2px;

}
.bg-danger{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	font-weight: bold;
	padding-left: 5px;
	text-align:center;
	color:red;
}
.close>span{
	
	padding-right :10px;
	color:white;
	
}

.modal-content{
	
	border-radius:0px;
	
}
.modal-body{
	padding-bottom:0px;
	
}
/*.......................table and panel style................................*/

.tbl_border{

	margin-left:10px;
	margin-right: 10px;


}


.panel_custom{

		border: none;
		height: 100px;
}
.panel-default > .panel-heading {
color: #FFF;
border-color: #FFF;

background: #2b5797;
font-size: 16px;
text-shadow: none;

padding-top: 8px;
padding-bottom: 10px;
border-radius:0px;
}

.panel-default{
	
	border-radius:0px;
	
}

.panel_name{
	 float:left;
	 width:90%;
	 text-align:center;
	 padding-right:10%;
	 
}
.panel_name>h3{
font-weight:bold;
}
.back_btn{
	
	
	float:left;
	width:10%;
}

.pager > li>a{
	
	background-color:#2b5797;
	color: white;
	
}


/*....................... header panel................................*/


#top_panel{

	background-color:#2b5797; 
	width:100%;
	height:60px ; 
	color: white;

}

header{

	float: left;
	padding-top: 15px;
	padding-left: 10px;
	font-size: 25px;
	
}
#l_time{
	float: right;
	text-align: right;
	padding-top: 20px;
	padding-right: 50px;
	
}
#top_right{
	float: right;
	text-align: right;
	padding-top: 15px;
	padding-right: 50px;
}



/*....................... active panel................................*/

#right_panel{

	width:81%;
	height:auto; 
	float: right;
	margin: 1.5%;
	margin-bottom: 0px;
	min-height: 650px;

}
#content{

	
	background-color:#EEEEEE; 
	width:100%;
	height:auto; ; 
	padding: 5px 5px 0px 5px;
	margin-bottom: 0px;
	border-radius: 5px;
	min-height: 650px;
}
#inside_content{

	padding: 10px;
	border: 1px solid #0866C6;
	margin-left: 10px;
	margin-right: 10px;
	background-color:white;
	margin-top: 10px;
	width: 98%;
	height: 97%;
	min-height: 650px;

}

/*....................... footer................................*/

#footer{
	
	background-color:#2b5797; 
	width:100%;
	height:60px ; 
	
	margin-top: 5px;
	color: white;

}
#copywr{
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;

}


/*....................... Menu bar................................*/

#menubar{


	background-color:#555; 
	width:17%;
	color: white;
	position: absolute;
  	left: 0;
  	top: 0;
  	bottom: 0;
  	min-height: 750px;


}

#top_menu{

	margin-bottom: 10px;
	padding-top:20px; 
	border-bottom: 2px solid #2b5797;
	background-color: #555;

}

.img-circle{

		height: 130px;
		width: 130px;
		display: block;
	    margin:auto;
	    border: 2px solid #2b5797;
}


#search{

	width: 80%;
	border: 20px 0px 20px 0px;
	margin:20px auto !important;
	width: 80%;	
}

.nav-stacked li a {
		
		border-radius: 0px;
		background-color: #555;
		font-size: 1.1em;
		padding-top:9px;
		color: white;
	}
	.nav-stacked li a:hover {
		border-radius: 0px;
		background-color: #2b5797;
		color:   white;
		font-weight: bold;
		font-size: 1.1em;
		

	}
	.nav-stacked li a:focus{
		border-radius: 0px;
		background-color: #2b5797;
		color: white;
		font-weight: bold;		

	}


	.cus{

	padding-right: 10px;
	}

	.cus_right{

		float: right;

	}

	.sub_menu{
			
			background-color: #777;
			
	}


.sub_li {
	background-color: #777;
		background-color: red;

}

/*....................... vehicle................................*/

#vehicle_leftpanel{
	float: left;
	width: 50%;
}
#vehicle_rightpanel{
	float: left;
	width: 50%;
	padding-left:15px;
}


#break_line{
	clear:both;
}


#image_div > .img-circle{

				
				margin-bottom:20px;
				
}

	#image_div{
	
		background-color:#eee;
		padding-top:20px;
		padding-bottom:20px;
		margin-bottom:20px;
		
	}

.btn_save_clear{

		float:right;
		

}
.btn_save_clear > button{
	
	margin-right:10px;
	width:80px;
	
}
/*....................... login panel................................*/

#login_panel{

	top:50%;
	position: fixed;;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 500px;
	margin: 0 auto;
	border-radius: 5px;
}

#login_header{
	color: white;
	font-size: 20px;
	text-align: center;
}


/*.................... Dash Board ................................... */

  .dash_block{
	
	
	height:150px;
	width:22%;
	float:left;
	margin:20px 10px 20px 10px;
	
	
	
}

#vehicle_box{
	
	background-color:#00c0ef;
	
}

#driver_box{
	
	background-color:#00a65a;
	
}

#messages_box{
	
	background-color:#f39c12;
}

#warning_box{
	
	background-color:#dd4b39;
	
}

.dash_box_header{
	font-size:30px;
	color:white;
	margin:0 auto;
	padding-top:20px;
}
.dash_center{	
	margin:auto;
}

/*
 * Component: Small Box
 * --------------------
 */
.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  font-size: 95px;
}
@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}




.bg-red {
  background-color: #dd4b39 !important;
}
.bg-yellow{
  background-color: #f39c12 !important;
}
.bg-aqua{
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue{
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}



/*
 * Component: Info Box
 * -------------------
 */
.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > img {
  max-width: 100%;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}

